# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

out

.idea
.vscode
*/*.iml
**/Chart.lock
